.title {
  padding: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--dark);
  border-bottom: 1px solid var(--gray-300);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;

  &.gameOver {
    opacity: 0.8;
    cursor: not-allowed;

    .cell {
      cursor: not-allowed !important;
    }
  }

  .cell {
    display: grid;
    align-items: center;
    justify-content: center;
  
    background-color: var(--white);
    font-family: Lexend, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #00000066;
  
    cursor: pointer;
    transition: box-shadow 0.2s;

    &:not(.O):not(.X):hover {
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px 5px rgba(0, 0, 0, 0.04);
    }

    &.O, &.X {
      cursor: not-allowed;
    }
  
    &.O {
      background-color: var(--O-color);
    }
  
    &.X {
      background-color: var(--X-color);
    }
  }
}

.reset {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--green-500);
  
  font: 0;
  border: 0;
  text-transform: uppercase;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.95)
  }
}

